<div id="parent-movie">
    <div><img src="{{movie.image}}" alt="{{movie.title}}" /></div>

    <div id="movie-details">
        <h1> {{movie.title}}</h1>
        <h2>Director: {{movie.director}}</h2>
        <p><strong>Stars</strong> <br /></p>
        <ul>
            <li>{{movie.stars}}</li>
        </ul>

        <p>{{movie.description}}</p>
        <p>{{movie.showtimes}}</p>
    </div>
</div>